html, body {
  height: 100%;
  margin: 0;
}
body {
  background-color: blue;
}

h1 {
  font-size: 3vw;
  margin-top: 100px;
  padding-top: 30px;
  text-align: center;
  color: black;
}

form {
  /* margin: 30px 350px 0px 350px; */
  margin: 30px 25% 0px 25%;
  width: 50%;
  display: flex; 
  justify-content: center;
  flex-direction: column;
  
}

.texto {
  background-color: grey;
  color: black;
  font-size: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

button {
  font-size: 2vw;
  margin: 10px 3vw 50px 3vw;
  padding: 10px;
}
